PORT=5000
MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=https://lost-link-team-frontend.vercel.app/
BACKEND_URL=https://lost-link-team-backend.vercel.app/
FRONTEND_URL=https://lost-link-team-frontend.vercel.app/